In [3]:
import numpy as np
import pandas as pd

#常態分布，數值在3~-3之間
s1 = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 2, 3, 1, 2, 3]]
          )
s1

a  1   -0.294162
   2   -0.022593
   3    0.380726
b  1    0.607920
   2   -0.251543
c  3    1.131459
   1    0.201289
d  2   -0.495982
   3   -1.917267
dtype: float64

In [4]:
s1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [5]:
display(s1)

a  1   -0.294162
   2   -0.022593
   3    0.380726
b  1    0.607920
   2   -0.251543
c  3    1.131459
   1    0.201289
d  2   -0.495982
   3   -1.917267
dtype: float64

In [6]:
s1['a']

1   -0.294162
2   -0.022593
3    0.380726
dtype: float64

In [8]:
s1[['b', 'c']]

b  1    0.607920
   2   -0.251543
c  3    1.131459
   1    0.201289
dtype: float64

In [9]:
s1['b':'d']

b  1    0.607920
   2   -0.251543
c  3    1.131459
   1    0.201289
d  2   -0.495982
   3   -1.917267
dtype: float64

In [12]:
display(s1)
s1["a"][3]

a  1   -0.294162
   2   -0.022593
   3    0.380726
b  1    0.607920
   2   -0.251543
c  3    1.131459
   1    0.201289
d  2   -0.495982
   3   -1.917267
dtype: float64

0.3807255724181967

In [13]:
s1.loc['b', 1]

0.6079199621910283

In [14]:
s1.unstack()

          1         2         3
a -0.294162 -0.022593  0.380726
b  0.607920 -0.251543       NaN
c  0.201289       NaN  1.131459
d       NaN -0.495982 -1.917267

In [22]:
s1.unstack(level = 0).T

          1         2         3
a -0.294162 -0.022593  0.380726
b  0.607920 -0.251543       NaN
c  0.201289       NaN  1.131459
d       NaN -0.495982 -1.917267

In [26]:
s1.unstack(level = 0)

          a         b         c         d
1 -0.294162  0.607920  0.201289       NaN
2 -0.022593 -0.251543       NaN -0.495982
3  0.380726       NaN  1.131459 -1.917267

In [27]:
s1.unstack(level = -1)

          1         2         3
a -0.294162 -0.022593  0.380726
b  0.607920 -0.251543       NaN
c  0.201289       NaN  1.131459
d       NaN -0.495982 -1.917267

In [20]:
s1.unstack(level = 0).T.stack()

a  1   -0.294162
   2   -0.022593
   3    0.380726
b  1    0.607920
   2   -0.251543
c  1    0.201289
   3    1.131459
d  2   -0.495982
   3   -1.917267
dtype: float64